@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --bg-primary: 255, 255, 255;
        --bg-secondary: 245, 246, 247;
        --bg-tertiary: 238, 238, 238;
        --text-primary: 0, 0, 0;
        --text-secondary: 56, 63, 74;
        --text-tertiary: 255, 255, 255;
    }
    .dark {
        /*
    * update all colors:
    * --bg-primary: ...
    */
        --bg-primary: 255, 0, 0;
        --bg-secondary: 0, 0, 255;
        --bg-tertiary: 0, 255, 0;
        --text-primary: 0, 0, 0;
        --text-secondary: 56, 63, 74;
        --text-tertiary: 255, 255, 255;
    }
    .auli-pallette {
        /*
    * update all colors:
    * --bg-primary: ...
    */
        --bg-primary: 84, 84, 84;
        --bg-secondary: 42, 42, 42;
        --bg-tertiary: 126, 126, 126;
        --text-primary: 254, 221, 104;
        --text-secondary: 0, 0, 0;
        --text-tertiary: 255, 255, 255;
    }
}